// 公共通用样式
.m-auto {
  margin: 0 auto;
}
.mb-48 {
  margin-bottom: 48px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-36 {
  margin-left: 36px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-36 {
  margin-right: 36px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 4px;
}
.mt-48 {
  margin-top: 48px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 4px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-4 {
  padding-top: 4px;
}
.pb-48 {
  padding-bottom: 48px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-4 {
  padding-bottom: 4px;
}
.pr-48 {
  padding-right: 48px;
}

.pr-36 {
  padding-right: 36px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-4 {
  padding-right: 4px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-36 {
  padding-left: 36px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-4 {
  padding-left: 4px;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #f5f6f8;
}

.cursor-pointer {
  cursor: pointer;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}

.input-width {
  width: 240px;
}

.input-width-large {
  width: 320px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.pointer-none {
  pointer-events: none;
}

.border-right {
  border-right: 1px solid #ebeff2;
}
.border-bottom {
  border-bottom: 1px solid #ebeff2;
}
.border-left {
  border-left: 1px solid #ebeff2;
}
.border-top {
  border-top: 1px solid #ebeff2;
}

.filter-container {
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.position-relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.dot {
  font-size: 12px;
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
  }
}

.rich-text {
  line-height: 1.5 !important;
  font-size: 16px;
  span,
  p {
    line-height: 1.5 !important;
  }
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.line-height-0 {
  line-height: 0;
}
.line-height-1 {
  line-height: 1;
}
.capitalize {
  text-transform: capitalize;
}

.bg-dark {
  background-color: #000;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 100;
}

.overflow-hidden {
  overflow: hidden;
}

text-decoration-none {
  text-decoration: none;
}
