.second-img,
.first-img {
  img {
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
}
.first-img {
  img {
    // transform: scale(1);
  }
}
.second-img {
  img {
    transform: rotateY(0.5turn) translateZ(10px);
  }
}
&:hover {
  .second-img {
    // opacity: 1;
    img {
      // display: block;
      // opacity: 1;
      transform: rotateY(0deg);
    }
  }
  .first-img {
    // opacity: 0;
    img {
      // max-height: 0;
      // display: none;
      transform: rotateY(0.5turn) translateZ(1px);
    }
  }
}
