<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <div id="app">
    <Child>
     
    </Child>
    <!-- <input v-model="a" type="text"> -->
    <!-- {{a}} -->
    <!-- {{a}} -->
    <!-- <div v-for="(item, index) in list" :key="index">{{item}}
       <template v-if="item < 3 ">
        <div @click="list.splice(index+1, 0, Date.now())">添加</div>
        <div @click="list.splice(index, 1)">删除</div>
       </template>
       <template v-else>
        <span @click="list.splice(index+1, 0, Date.now())">添加</span>
        <span @click="list.splice(index, 1)">删除</span>
       </template>
     </div>
     <!-- <div @click="list.push(Date.now())">添加</div> -->
    <!-- <div @click="list.splice(1, 1, 4)">添加</div> -->
  </div>
  <script type="text/javascript" src="../lib/vue.js"></script>
  <!-- <script type="text/javascript" src="../lib/vue.runtime.js"></script> -->
  <script type="text/javascript">
    
    var SubChild = {
      template: '<div>SubChild!</div>',
      beforeCreate() {
        console.log('SubChild beforeCreate')
      },
      created() {
        console.log('SubChild created')
      },
      beforeMount() {
        console.log('SubChild beforeMount')
      },
      mounted() {
        console.log('SubChild mounted')
      }
    }
    var Child = {
      template: '<div>Child! <SubChild></SubChild></div>',
      components: {
        'SubChild': SubChild,
      },
      beforeCreate() {
        console.log('Child beforeCreate')
      },
      created() {
        console.log('Child created')
      },
      beforeMount() {
        console.log('Child beforeMount')
      },
      mounted() {
        console.log('Child mounted')
      }
    }
    var index = new Vue({
      components: {
        'Child': Child,
        
      },
      data: {
        a: 'hello',
        list: [1, 2]
      },
      beforeCreate() {
        console.log('beforeCreate')
      },
      created() {
        console.log('created')
      },
      beforeMount() {
        console.log('beforeMount')
      },
      mounted() {
        console.log('mounted')

        setTimeout(() => {
          this.a = 'mounted'
        }, 0)
      },
      computed: {},
      methods: {}
    }).$mount('#app')
    console.log(index)
  </script>
</html>
