<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body >


<!-- prop 如果是字符串，不需要写：,写：就是变量或者数字-->
<!-- prop 不能大写,大写转换(-小写) -->
<div id="example-2">
  <input v-model="num">
  <input v-model="test">
  <child :initial-counter="num" size="1ABC" :test="test"></child>
  <!--<child-style v-bind:message="1"></child-style>-->
</div>

</body>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript">
//    prop 是单向绑定的：当父组件的属性变化时，将传导给子组件，但是不会反过来。这是为了防止子组件无意修改了父组件的状态——这会让应用的数据流难以理解。
//    另外，每次父组件更新时，子组件的所有 prop 都会更新为最新值。这意味着你不应该在子组件内部改变 prop 。如果你这么做了，Vue 会在控制台给出警告。
//    为什么我们会有修改prop中数据的冲动呢？通常是这两种原因：
//    prop 作为初始值传入后，子组件想把它当作局部数据来用；
//    prop 作为初始值传入，由子组件处理成其它数据输出。
//    对这两种原因，正确的应对方式是：
//    定义一个局部变量，并用 prop 的值初始化它：


//    props: ['initialCounter'],
//      data: function () {
//        return { counter: this.initialCounter }
//    }
////    定义一个计算属性，处理 prop 的值并返回。
//    props: ['size'],
//      computed: {
//        normalizedSize: function () {
//            return this.size.trim().toLowerCase()
//        }
//    }
//    注意在 JavaScript 中对象和数组是引用类型，指向同一个内存空间，如果 prop 是一个对象或数组，在子组件内部改变它会影响父组件的状态。


Vue.component('child', {
    // 声明 props
//    props: ['initialCounter','size'],
    props: {
        initialCounter:Number,
        size:String,
        test:String
    },
    data: function () {
        return {
            counter:this.initialCounter,
        }
    },
//    计算属性动态更新
    computed: {
        normalizedSize: function () {
            console.log(this.size);
            return this.size.trim().toLowerCase()
        },
        content: function () {
            console.log(this.test);
            return this.test.trim().toLowerCase()
        }
    },
    template:
    '<div>' +
      '<span>{{counter}}</span>' +
      '<div>{{normalizedSize}}</div>' +
      '<span>{{content}}</span>' +
    '</div>',
})

var app = new Vue({
    el: '#example-2',
    data:{
        num:14,
        test:'asdasd'
    }
})




</script>
</html>