/* 编译后的 autofix */
.flex,
.flex-nowarp,
.flex-warp,
.flex-center,
.flex-column,
.flex_item-align-between,
.flex_item-align-around,
.flex_item-align-base,
.flex_item-align-stretch,
.flex_item-align-end,
.flex_item-align-center,
.flex_item-align-start,
.flex_multi-between,
.flex_multi-around,
.flex_multi-stretch,
.flex_multi-end,
.flex_multi-center,
.flex_multi-start,
.flex_multi,
.flex_v-between,
.flex_v-around,
.flex_v-base,
.flex_v-stretch,
.flex_v-end,
.flex_v-center,
.flex_v-start,
.flex_v,
.flex_h-between,
.flex_h-around,
.flex_h-end,
.flex_h-center,
.flex_h-start,
.flex_h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_h-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex_h-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_h-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex_h-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex_h-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex_v-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex_v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_v-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex_v-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex_v-base {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex_v-around {
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
}

.flex_v-between {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.flex_multi-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.flex_multi-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.flex_multi-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.flex_multi-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flex_multi-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.flex_multi-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex_item-align-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex_item-align-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.flex_item-align-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flex_item-align-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.flex_item-align-base {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.flex_item-align-around {
  -ms-flex-item-align: space-around;
  align-self: space-around;
}

.flex_item-align-between {
  -ms-flex-item-align: space-between;
  align-self: space-between;
}

.flex_item-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex_item-shirk {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex_item-auto {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.flex_item-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-warp {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowarp {
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}
